<form class="col s3 offset-s5"
      action="/search_results">
  <div class="input-field">
    <input id="search" name="search" type="search" required placeholder="Find coders or posts" class="search-bar">
    <label for="search"><i class="material-icons prefix">search</i></label>
  </div>
</form>
