<section class="well container">

  <h3 class="center-text"><%= image_tag('GitHub-bw.png', size: '150') %></h3>
  <div class="row">
    <div class="col s12 center-text">
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider),
            class: 'btn green' %><br/>
        <% end -%>
      <% end -%>
    </div>
  </div>
</section>
