@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'materialize';
//You need to now manually import every other scss file.

body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.center-text{
  text-align: center;
}
.well{
  background-color: lighten(#42703C, 60%);
}
.logo-font{
  margin-left: 10px;
  font-weight: bold;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a{
  color: #4F8B3D;
  font-weight: bold;
  &:hover{
    color: #4CAF50;
  }
}
nav {
  a{
    &:hover{
      text-decoration: none;
      color: #EBF4EB;
    }
  }
}
.border{
  border: 2px solid #4F8B3D;
}
hr{
  border-color: #4F8B3D;
}
.profile-header{
  max-width: 50%;
  margin-right: 0;
}
.bio-box{
  min-height: 185px;
}
.repo-title{
  min-height: 100px;
}
.left-pad{
  padding-left: 40px;
}
.right-margin{
  margin-right: 5px;
}
.stat-font{
  color: #4F8B3D;
  font-size: 14px;
}
.icon-color{
  color: #4F8B3D;
}
.pad-percent{
  padding: 5%;
}
.no-pad{
  padding: 0 0 0 0;
}
