@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'materialize';
@import 'pygments';
//You need to now manually import every other scss file.

body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #191919;
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.center-text{
  text-align: center;
}
.well{
  background-color: lighten(#42703C, 60%);
}
.logo-font{
  margin-left: 10px;
  font-weight: bold;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a{
  color: #4F8B3D;
  font-weight: bold;
  &:hover{
    color: #4CAF50;
  }
}
nav {
  a{
    &:hover{
      text-decoration: none;
      color: #EBF4EB;
    }
  }
}
.border{
  border: 2px solid #4F8B3D;
}
hr{
  border-color: #4F8B3D;
}
.profile-header{
  max-width: 50%;
  margin-right: 0;
}
.bio-box{
  min-height: 254px;
  font-size: 18px;
}
.repo-title{
  min-height: 100px;
}
.left-pad{
  padding-left: 40px;
}
.right-margin{
  margin-right: 5px;
}
.stat-font{
  color: #4F8B3D;
  font-size: 14px;
}
.icon-color{
  color: #3F3F3F;
}
.top-margin{
  margin-top: 20px;
}
.code {
  color: #DD1144 !important;
}
.collection{
  border: none;
  border-radius: 10px;
}
.collection-item{
  border-bottom: none !important;

}
.collection-header{
  border-bottom: none !important;
}
.container{
  border-radius: 10px;
}
.imp-info{
  font-size: 17px;
}
img{
  border-radius: 10px;
}
// my-s2 being used to prevent syntax highlighting of 2 column objects
.my-s2{
  color: #191919;
}
.search-bar{
  line-height: 40px !important;
  margin-top: 3px !important;
  border: 2px solid #EBF4EB !important;
  border-radius: 20px !important;
}
.message-item{
  height: 60px;
}

.no-radius{
  border-radius: 10px;
}
footer{
  a{
    color: #FEFE9B;
    &:hover{
      color: #CCFF90;
    }
  }
}
footer.page-footer{
  margin-top: 100px;
}
main{
    flex: 1 0 auto;
}
.tabs .tab a{
  color: #4F8B3D;
  &:hover{
    color: lighten(#4F8B3D, 20%);
  }
}
.tabs .indicator{
  background-color: #4F8B3D;
}
.title-font{
  font-size: 18px;
}
.collection .collection-item:last-child{
  padding-bottom: 25px;
}
@media (max-width: 600px) {
  .collapsible-body p{
    padding: 0;
  }
  footer{
    font-weight: none;
    color: white;
  }
}

@media (min-width: 993px) {
  .no-pad{
    padding: 0 !important;
  }
  .no-radius-left{
    border-radius: 10px 0 0 10px;
  }
  .no-radius-right{
    border-radius: 0 10px 10px 0;
  }
}
