@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'materialize';
//You need to now manually import every other scss file.
$primary-color: #3F51B5;
$dark-primary-color: #303F9F;
$light-primary-color: #C5CAE9;
$accent-color: #8BC34A;


.center-text{
  text-align: center;
}
.well{
  background-color: lighten(#42703C, 60%);
}
.logo-font{
  margin-left: 10px;
  margin-top: 5px;
  font-family: fantasy;
}
nav {
  a{
    &:hover{
      text-decoration: none;
      color: #EBF4EB;
    }
  }
}
.border{
  border: 2px solid #4F8B3D;
}
.padding{
  padding: 5px 5px 5px 5px;
}
